[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui/
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "deps/doctest"]
	path = deps/doctest
	url = https://github.com/onqtam/doctest
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/libwebp"]
	path = deps/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
[submodule "deps/rapidyaml"]
	path = deps/rapidyaml
	url = https://github.com/biojppm/rapidyaml
