[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/ktx"]
	path = deps/ktx
	url = https://github.com/KhronosGroup/KTX-Software
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui/
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp/
